:root[data-subsite='lynx-ui'] {
  --major-brand-color: #ff3d63;
  --gradient-brand-color: #ff5d99;
  --second-brand-color: #3dd5e9;

  --luna-primary: #ff1a6e;
  --luna-line: rgba(0, 0, 0, 0.17);
  --home-blog-bg-img: url('@assets/lynx-ui-icon-dark.svg');

  --home-highlight-title-color: var(--luna-primary);

  --home-section-divider: #ededf2;
  --home-button-font-color: #fff;

  //components
  --component-card-font-color: #fff;
  --component-card-background-color: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0) 40%
  );

  --responsive-font-size: 1rem;
}

:root.dark[data-subsite='lynx-ui'] {
  --major-brand-color: #ff7385;
  --gradient-brand-color: #fe69a1;
  --second-brand-color: #00d0f1;

  --luna-line: rgba(248, 248, 248, 0.32);
  --home-blog-bg-img: url('@assets/lynx-ui-icon-light.svg');

  --luna-primary: #ff8ab5;
  --home-highlight-title-color: var(--luna-primary);

  --home-features-item-bg:
    radial-gradient(
      94.38% 84.84% at 0% 2.15%,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(17, 17, 19, 0.5);
  --home-features-item-bg-fill: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.32) 2.16%,
    rgba(255, 255, 255, 0) 90.92%
  );
  --home-features-item-bg-border: 1px solid rgba(255, 255, 255, 0.32);

  --home-section-divider: #1f1f1f;
  --home-button-font-color: #000;

  --component-card-font-color: #fff;
  --component-card-background-color: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0) 40%
  );
}

:root[data-subsite='lynx-ui'] .rspress-home-hero-tagline {
  color: var(--home-features-item-desc-color);
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
