@mixin badge-style {
  @apply inline-flex items-center justify-center rounded-full bg-secondary font-semibold px-2.5 h-6 gap-1 text-xs;
  padding: 0.125rem 0.5rem;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

$badge-names: (
  'BTS': 'BTS Only',
  'MTS': 'MTS Only',
  'Experimental': 'Experimental',
  'XElement': 'XElement',
  'Android': 'Android Only',
  'Web': 'Web Only',
  'IOS': 'iOS Only',
  'Harmony': 'Harmony Only',
);

@each $context, $label in $badge-names {
  .rspress-sidebar-collapse[data-context='#{$context}'],
  .rspress-sidebar-item[data-context='#{$context}']:not(
      :has(.rspress-sidebar-item)
    )
    div {
    position: relative;

    &:after {
      content: '#{$label}';
      @include badge-style;
    }
  }
}
